# Dependencies
node_modules
frontend/node_modules
api/node_modules

# Build output
frontend/dist
frontend/.angular/cache

# Logs
npm-debug.log
yarn-error.log

# IDEs
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VS Code
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Misc
.DS_Store
Thumbs.db
testem.log
/coverage
